h1{
  color: hotpink;


}

h1 span,h2 span{
  color: greenyellow;


}
.box{
  width: 100px;
  height: 100px;
}
.red{background-color: red;
  margin: 100px 200px 100px 200px;}

.green{background-color: green; 
margin: 100px 0px;}

.yellow{background-color: yellow;
  margin-top: 100px;}


.pink{background-color: pink; 
padding: 30px;
border: 5px solid blue;
margin: 15px;}

.header{

  min-height: 15 px;
  background-color: orange;
}


.container{
  overflow: hidden;
}

.blog{width:45%;
  height: 200px;
  background-color: gray;}


.contact{width:45%;
  height: 200px;
  background-color: black;}

.footer{
  background-color: purple;
  height: 50px;
}